<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dashboard.CSS">
    <title></title>
</head>
<body>
    <div class="apps-list">
        <table id="appsTable" border="1">
          <thead>
            <tr>
              <th>App</th>
              <th>Categoria</th>
              <th>Ultima apertura</th>
            </tr>
          </thead>
          <tbody id="appsTableBody">
            <!-- Se agregan filas dinámicamente -->
          </tbody>
        </table>
      </div>
      <script src="../front-end controles/actaulizar_apps.js"></script>
</body>
</html>